html {
    height: 100%;
}
body {
    background-color: #200a00;
    font-family: Courier;
    font-size: 15px;
    color: #dddddd;
}
a {
    color: #dddddd;
}
.links {
    margin: auto;
    text-align:center;
    padding-top: 100px;
}