html {
  height: 100%;
}

#payoutTable {
  font-family: Verdana;
  text-shadow: 1px 1px 2px rgba(10, 10, 10, 1);
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  opacity: 0.7;
  font-size: 13px;
  box-sizing: border-box;
  padding-left:154px;
}

th {
  border: 1px solid #dddddd;
  text-align: right;
  padding: 2px;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2.2px;
}

tr:nth-child(even) {
  background-color: #0033cc;
}

tr #highlight {
    background-color: #cc1800;
}

body {
    background: linear-gradient(to bottom, #000066 0%, #0033cc 100%);
    min-height: 100%;
}

#table {
  position: relative;
  padding-top: 20px;
}

#dealer{
  box-sizing: border-box;
  padding-left:154px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 180px;
  position: relative;
  width:100%;
}

.card {
  font-family: 'Courier', serif;
  position: relative;
  width: 110px;
  height: 150px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 28px;
  padding:2px;
  background-color: #F6F7EB;
  display: flex;
  -webkit-box-shadow: 2px -2px 9px -1px rgba(0,0,0,1);
  -moz-box-shadow: 2px -2px 9px -1px rgba(0,0,0,1);
  box-shadow: 2px -2px 9px -1px rgba(0,0,0,1);
  margin:15px;
  margin-top:8px;
}

.hold:before {
  font-family: 'Courier', serif;
  background-color: rgba(83, 214, 60, 0.685);
  color: #ffffff;
  content: "HOLD";
  vertical-align:text-bottom;
  position:absolute;
  bottom: 23px;
  left: 23px;
  z-index:1;
  border-radius: 3px;
  text-shadow:1px 1px 30px rgb(255, 145, 0);
}

.back {
  background:  rgba(26,160,29,1);
  background-size: 13px 30px;
  width: 96%;
  height: 98%;
  margin: 1% auto;
  border-radius: 5px;
}

.diamond, .heart {
  color:#E94F37;
  margin:auto;
  font-size: 60px;
}

.spade, .club {
  color:#393E41;
  margin:auto;
  font-size: 60px;
}

.suit {
  position: absolute;
  top: 46px;
  left: 38px;
}

.rank {
  position: absolute;
  width:30px;
  height: 28px;
}

.top {
  top: 2px;
  left: 2px;
}

.bottom {
  bottom: 1px;
  right: 2px;
  margin: auto;
  text-align: right;
}

.score {
  position: relative;
  text-align: center;
  font-family: Verdana;
  color: #F6F7EB;
  opacity: 0.7;
  font-size: 20px;
  z-index:10;
  text-shadow: 1px 1px 2px rgba(10, 10, 10, 1);
}

/* footer */
#panel {
  text-align: center;
  background-color: rgba(5, 19, 71, 0.705);
  border-top: 1px solid #f5f0f0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  height: 30%;
}

.status {
  font-family: Courier;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(10, 10, 10, 1);
  color: #55acee;
  position: relative;
  opacity: 0.7;
  padding-top: 2px;
  font-size: 20px;
}

/* buttons */
button {
  border:none;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 20px;
  text-decoration: none;
  margin: 20px;
  color: #F6F7EB;
  position: relative;
  display: inline-block;
  font-family: Verdana;
  text-shadow: 1px 1px 2px rgba(10, 10, 10, 1);
  margin-top:0;
}

button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px .5px 0px 0px;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
  background-color: #6FC6FF;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

button:disabled {
  background-color: #999;
  box-shadow: 0px 5px 0px 0px #AAA;
}

button:disabled:hover {
  background-color: #999;
}

button:disabled:active {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  box-shadow: 0px 5px 0px 0px #AAA;
}

.columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  padding-left:5px;
  padding-right:5px;
  width: 100%;
  max-width: 500px;
  align-items: center;
  align-content: center;
  
  margin-left: auto;
  margin-right: auto;
  }


  .slidecontainer {
    width: 25%;
    margin: auto;
    padding-top:10px;
    padding-bottom:5px;
  }
  .slider {
    margin: center;
  }
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 7.3px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: rgba(48, 113, 169, 0.78);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0.9px 0.9px 0px #000031, 0px 0px 0.9px #00004b;
    border: 1.8px solid #00001e;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(86, 151, 207, 0.78);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: rgba(48, 113, 169, 0.78);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0.9px 0.9px 0px #000031, 0px 0px 0.9px #00004b;
    border: 1.8px solid #00001e;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgba(31, 73, 109, 0.78);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(48, 113, 169, 0.78);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0.9px 0.9px 0px #000031, 0px 0px 0.9px #00004b;
    border: 1.8px solid #00001e;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    height: 11.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(48, 113, 169, 0.78);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgba(86, 151, 207, 0.78);
  }

.blinking{
  font-family: Courier;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(209, 0, 0);
  color: #c6e5fd;
  position: relative;
  opacity: 0.7;
  padding-top: 2px;
  font-size: 35px;
  animation:blinkingText 1.2s infinite;
  text-align:center;
}
@keyframes blinkingText{
    0%{     color: rgb(255, 43, 43);    }
    49%{    color: rgb(255, 45, 45); }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: rgb(255, 59, 59);    }
}